#friends-display-link{
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px 0px;
    color: #2e363e;
    margin-bottom: 10px;
}

#friends-display-link i{
    color: rgba(0,0,0,0.3);
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__plusChannel{
    border-top: 2px solid rgba(0,0,0,0.1);
    padding-top: 15px;
    margin-top: 25px;
}

.friends-screen__plusChannel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
        /* visibility: 마우스에 걸리지 않게 빠져버리는 것*/
        /* 단 html 요소는 남아있기 때문에 splash-screen(요소)를 빼고 싶다면 js를 사용해야 함*/
    }
}

.splash-screen{
    background-color: var(--blue);
    position: absolute;
    height: 100vh;
    /*화면의 높이의 100%*/
    width: 100vw;
    /*화면의 넓이의 100%*/
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    /* forwards : 애니메이션의 to 상태로 유지하는 것,
    forwards가 없다면 to 실행 후 다시 from 상태로 원상 복귀함함    */
    animation-delay: 1s;
}