.info_notification{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
}

.setting-location{
    right: -5px;
    bottom: 20px;
}