.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(100,139,237,0.2);
    padding: 20px 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(100,139,237,0.7);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    opacity: 100;
}

.nav__a{
    position: relative;
    color: #2e363e;
}

.nav_notification{
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.more_info{
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    bottom: 25px;
    left: 30px;
}
